:root {
  --global-font-size: 35px;
  --global-button-font-size: 25px;
  --global-main-text-color: unset;
  --global-app-background: unset;
  --global-button-background-color: unset;
  --global-button-active-background-color: unset;
  --global-button-active-text-color: unset;
  --global-border-color: unset;
  --global-title-color: unset;
  --global-title-shadow: unset;
  --global-title-hover-brightness: unset;
  --global-items-list-active-el-background: unset;
  --global-items-list-hover-el-background: unset;
  --global-error-div-color: unset;
  --global-global-background: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: var(--global-font-size);
  /*background-color: var(--global-global-background);*/
  background: linear-gradient(
    90deg,
    var(--global-items-list-active-el-background),
    var(--global-button-background-color)
  );
  color: var(--global-main-text-color);
  animation: backGroundInfinite 7s ease-in-out infinite;
  background-size: 400% 400%;
}

@keyframes backGroundInfinite {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*input {*/
/*    height: 30px;*/
/*    width: 150px;*/
/*    font-size: calc(var(--global-font-size) - 15);*/
/*    background-color: azure;*/
/*    border: #9feaea solid 1px;*/
/*    transition: background-color 0.9s, color 0.9s;*/
/*}*/

/*input:hover {*/
/*    background-color: white;*/
/*    color: #65cebb;*/
/*}*/

.button {
  min-height: 40px;
  height: auto;
  width: 150px;
  font-size: var(--global-button-font-size);
  border-radius: 15px;
  transition: background-color 0.7s, color 0.7s;
  background-color: var(--global-button-background-color);
  color: var(--global-main-text-color);
  border: var(--global-border-color);
  box-shadow: var(--global-app-background) 0 0 20px;
}

.button:hover {
  background-color: var(--global-button-active-background-color);
  color: var(--global-button-active-text-color);
}

.button-active {
  background-color: var(--global-button-active-background-color);
  color: var(--global-button-active-text-color);
}

a {
  text-decoration: none;
  color: var(--global-main-text-color);
  transition: color 0.5s;
}

a:hover {
  color: var(--global-error-div-color);
}
