.fetch-app {
  padding: 20px;
  border-radius: 40px;
  font-size: 20pt;
}

.fetch-app-lt {
  background-color: var(--global-lt-backgound-color);
  color: var(--global-lt-text-color);
}

.fetch-app-dt {
  background-color: #4e4e5a;
  color: azure;
}

.sf-list-and-card {
  display: flex;
  gap: 20px;
}

.sf-title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;

  transition: transform 0.5s linear, text-shadow 1s;
  transform: scale(1);
  cursor: pointer;
}

.sf-title-dt {
  color: azure;
  text-shadow: 0 0 25px #9feaea;
}

.sf-title-lt {
  color: #5d563c;
  text-shadow: 0 0 25px #80713c;
}

.sf-title-dt:hover {
  text-shadow: 0 0 25px #00d9ff;
  z-index: 1;
  transform: scale(1.05);
}

.sf-title-lt:hover {
  text-shadow: 0 0 25px #ffdd00;
  z-index: 1;
  transform: scale(1.05);
}
.item-card {
  position: sticky;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 80%;
  height: auto;
  animation: 0.5s ease-out 0s 1 keyFrameScaleUp;
}

.item-card-lt {
  border: var(--global-lt-border);
  background-color: var(--global-lt-button-backgound-color);
  color: var(--global-lt-text-color);
}

.item-card-dt {
  border: var(--global-dt-border);
  background-color: var(--global-dt-button-backgound-color);
}

.error-div-dt {
  color: #9feaea;
  animation: 0.5s ease-out 0s 1 keyFrameScaleUp;
  z-index: 1;
  margin-top: 10px;
}

.error-div-lt {
  color: #b60e0e;
  animation: 0.5s ease-out 0s 1 keyFrameScaleUp;
  z-index: 1;
  margin-top: 10px;
}

@keyframes keyFrameScaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.item-card div {
  padding: 25px;
}

.item-card div:not(:nth-child(1)) {
  border-top: rgba(255, 255, 255, 0.32) solid 1px;
}

.item-card-large-text {
  font-size: 45px;
}
.item-card-regular-text {
  font-size: 22px;
}

.sf-type-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.sf-list-outer {
  width: 50%;
}

.sf-card-outer {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sf-list {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.sf-list div {
  padding: 10px;
  transition: background-color 0.7s;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.sf-list-lt div:hover {
  background-color: #d3ad68;
}

.sf-list-dt div:hover {
  background-color: #737377;
}

button {
  font-size: 25px;
  height: 40px;
  width: 170px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-outer {
  display: flex;
  justify-content: center;
}

.li-el-active-dt {
  background-color: rgb(39, 40, 47) !important;
}

.li-el-active-lt {
  background-color: #947945 !important;
}

.button-context {
  width: 200px;
  font-size: 15px;
}
